  <app-menu></app-menu>
  
<div class="container">
<div style="display: flex;margin-top: 55px;">

  <div class="col">
    <div id ="quiwn"class="container-fluid bg-1 text-center">
      <img src="./assets/imagenes/quiensoy.jpg" class="img-responsive img-circle margin" style="display:inline" alt="Bird" width="350" height="350">
      <h3 style="font-family: cursive;">Alejandro Laborde Parodi</h3>
    </div>
  </div>

  <div class="col">
    <div id ="que" class="container-fluid bg-1 text-center">
      <h3 class="margin" style="font-family: cursive;">Juego 21 con Dados</h3>
      <p>Alcanzar el puntaje , total de 21 puntos o aproximarse a dicha cifra, lo más posible pero sin pasarla. <br> 
        Como maximo 3 jugadas.Si se "planta" la maquina  realiza sus 3 jugadas y se determina el ganador</p>

    </div>
  </div>

</div>

 



  
  
  <!-- Second Container -->


  <!-- Third Container (Grid) -->
  <div id ="donde" class="container-fluid bg-1 text-center">    
    <h3 class="margin" style="font-family: cursive;">Dónde Funciona?</h3><br>
    <div class="row">
      <div class="col-sm-4">
        <div class="card mb-4 shadow-sm">
          <div class="card-body">
            <img src="./assets/imagenes/sistemas.jpg" class="img-responsive margin imagenDeQuienSoy"  alt="Image">
            <p style="color:black; font-family: cursive;">Con las tecnologias WEB que permiten desarrollar aplicaciones multiplataforma</p>
          </div>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="card mb-4 shadow-sm">
          <div class="card-body">
            <img src="./assets/imagenes/tecnologia.jpg" class="img-responsive margin imagenDeQuienSoy" alt="Image">
            <p style="color:black; font-family: cursive;">Para los sistemas operativos lideres en el mercado del consumo masivo</p>
          </div>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="card mb-4 shadow-sm">
          <div class="card-body">
            <img src="./assets/imagenes/quiensoy2.jpg" class="img-responsive margin imagenDeQuienSoy" alt="Image">
            <p style="color:black; font-family: cursive;">Principalmente orientada a la experiencia del usuario, garantizando que su funcionamieto sea fluido y pensado en el comportamiento del usuario y en la funcionalidad.</p>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
  <!-- Footer -->
  <footer class="bg-4 text-center" style="padding: 30px;">
    <p>Modificado por <a href="https://github.com/AlejandroLaborde">Alejandro Laborde Parodi</a></p> 
  </footer>