.imagenDeQuienSoy{
     width: 100%;
}

body {
    font: 20px Montserrat, sans-serif;
    line-height: 1.8;
    color:black;
    font-family: cursive;
}
p {
    font-size: 16px;
    font-family: cursive;
}
.margin {margin-bottom: 45px;}
.bg-1 { 
    background-color: black; /* Green */
    color: #ffffff;
    margin-bottom: 50px;
}
.bg-2 { 
    background-color: #474e5d; /* Dark Blue */
    color: #ffffff;
}
.bg-3 { 
    background-color: gainsboro; /* White */
    color: #555555;
}
.bg-4 { 
    background-color: black; /* Black Gray */
    color: #fff;
}
.container-fluid {
    padding-top: 70px;
    padding-bottom: 70px;
}
