<div class="fondo">
  <app-cabecera></app-cabecera>

  <div class="container" >
    <div class="row row-cols-1 row-cols-md-4" style="margin-top: 30px;">

      <div class="col mb-4">
        <div class="card" routerLink="/Juegos">
          <img src="../../../assets/imagenes/juegos.jpg" class="card-img-bottom" alt="...">
          <div class="card-body">
            <h3 class="card-title text-center">Juegos</h3>
            <p class="card-text text-center">El método lúdico es un conjunto de estrategias diseñadas para crear un ambiente de armonía en los estudiantes que están inmersos en el proceso de aprendizaje. Este método busca que los alumnos se apropien de los temas impartidos por los docentes utilizando el juego.</p> 
            
          </div>
        </div>
      </div>

      <div class="col mb-4">
        <a class="card" routerLink="/Listado">
          <img src="../../../assets/imagenes/resultados.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h3 class="card-title text-center">Resultados</h3>
            <p class="card-text text-center">Los listados de los resultados con ordenamiento y busqueda</p>
          </div>
        </a>
      </div>

      <div class="col mb-4">
        <a class="card" routerLink="/Juegos">
          <img src="../../../assets/imagenes/configuracion.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h3 class="card-title text-center">Configuraci&oacute;n</h3>
            <p class="card-text text-center">Ajustes de la aplicacion y los métodos de autentificación</p>
          </div>
        </a>
      </div>

      <div class="col mb-4">
        <a class="card" routerLink="/Jugadores">
          <img src="../../../assets/imagenes/jugadores.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h3 class="card-title text-center">Jugadores</h3>
            <p class="card-text text-center">Listado de jugadores</p>
          </div>
        </a>
      </div>

    </div>
  </div>
</div>