.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    border-radius: 10px; /* 5px rounded corners */
    max-width: 350px;
    height: 100%;
    margin: 10px;
    padding-bottom: 10px;
    float: left;
    text-align: center;
  }

  .myFont{
    font-family: cursive;
  }
/* Add rounded corners to the top left and the top right corner of the image */
img {
    border-radius: 5px 5px 0 0;
    width: 200px;
    height: 200px;
}/* Add some padding inside the card container */

.button{
    font-size: 24px;
    text-align: center;
    color: #fff;
    background-color:tomato;
    border-radius: 15px;
    border: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 8px;
    text-align: center;
    width: 80%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    margin-bottom: 10px;
  }
  
  .button:hover {
    background-color: slateblue;
    
  }
  
  .button:active {
    background-color: #3e8e41;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
  }

  .card:hover {
    top: -3px;
    left: -3px;
    box-shadow: 3px 3px 15px 0px rgba(82, 82, 82, 0.85);
  }
  .card:active {
    top: 2px;
    left: 2px;
    background-color: #C9F1D3;
    box-shadow: inset 0 0 10px rgba(82, 82, 82, 0.85);
  }


  h1{
    font-family: fantasy;
  }

  p{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  }