<div class="container" >
  
  <div class="row row-cols-1 row-cols-md-3" style="margin-top: 30px;">

  <div class="col mb-4">
    <div class="card" >
      <img class="img-thumbnail" src="./assets/imagenes/agilidad.jpg" alt="Avatar" style="width:100%">
      <h1 class="myFont">Velocidad y Agilidad Aritmética </h1>
      <p class="title">Juego de Agilidad Mental</p>
      <p><button class="button" (click)="Juego('Agilidad')" >Jugar</button></p>
    </div>
  </div>
  <div class="col mb-4">
    <div class="card">
      <img class="img-thumbnail" src="./assets/imagenes/ppt.jpg" alt="Avatar" style="width:100%">
      <h1 class="myFont">Piedra Papel o Tijera</h1>
      <p class="title">Juega contra la máquina</p>
      <p> <button class="button"  (click)="Juego('PPT')">Jugar</button></p>
    </div>
  </div>
  
  <div class="col mb-4">
    <div class="card">
      <img  class="img-thumbnail"  src="./assets/imagenes/adivina.jpg" alt="Avatar" style="width:100%">
      <h1 class="myFont">Adivina el número secreto</h1>
      <p class="title">Juego de estrategia</p>

      <p>           <button class="button"  (click)="Juego('Adivina')">Jugar</button></p>
    </div>
  </div>
  <div class="col mb-4">
    <div class="card">
      <img  class="img-thumbnail"  src="./assets/imagenes/anagrama2.jpg" alt="Avatar" style="width:100%">
      <h1 class="myFont">Anagrama</h1>
      <p class="title">Juega de habilidad</p>   
      <p><button class="button"  (click)="Juego('Anagrama')">Jugar</button></p>
    </div>
  </div>
  <div class="col mb-4">
    <div class="card">
      <img  class="img-thumbnail"  src="./assets/imagenes/tateti.png" alt="Avatar" style="width:100%">
      <h1 class="myFont">TA - TE - TI</h1>
      <p class="title">TA - TE - TI</p>
      <p> <button class="button"  (click)="Juego('Tateti')">Jugar</button></p>
    </div>
  </div>
  <div class="col mb-4">
    <div class="card">
      <img  class="img-thumbnail"  src="./assets/imagenes/dados.png" alt="Avatar" style="width:100%">
      <h1 class="myFont">21 Dados</h1>
      <p class="title">MI JUEGO</p>
      <p><button class="button"  (click)="Juego('miJuego')">Jugar</button></p>
    </div>
  </div>
</div>
</div>