<div class="container">

  <form style="background-color: cornsilk;" [formGroup]="formRegistro" (ngSubmit)="onSubmit()" >
    <div class="container">
      <label><b>Email</b></label>
      <input type="text" placeholder="Ingresa tu correo" name="email"  formControlName="email"  >

      <label><b>Sexo</b></label>
      <input type="text" placeholder="ingrese M o F " name="sexo"  formControlName="sexo"  >

      <label><b>Cuit</b></label>
      <input type="text" placeholder="Ingrese un cuit valido ej: 20-xxxxxxxx-3" name="cuit"  formControlName="cuit"  >
      
      <label><b>Clave</b></label>
      <input type="password" placeholder="Aca la clave" name="psw" formControlName="clave">

      <label><b>Repita la clave</b></label>
      <input type="password" placeholder="Aca repeti la misa clave  de arriba" name="psw-repeat" formControlName="copyClave" >
      
      <div class="alert alert-danger text-center" *ngIf="formInvalido" role="alert">
        Las claves ingresadas no coinciden, por favor ingrese denuevo
      </div>

      <input type="checkbox" checked="checked">Recordar mis datos
      <p>* Creando la cuenta aceptando los Terminos y condiciones.El boton para aceptar aparece una vez que se completen los datos</p>

      <div class="clearfix">
        <button type="button" (click)="volverInicio()" class="cancelbtn">Me arrepenti</button>
        <button type="submit" *ngIf="formRegistro.valid" class="signupbtn">Registrarme</button>
      </div>
    </div>
    
  </form>

</div>
