
<body>
  <div class="container" style="height: 100vh;">
    <div class="row">
      <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
        <div class="card card-signin my-5">
          <div class="card-body">
            <h5 class="card-title text-center">Iniciar Sesion</h5>
            <img src="./assets/imagenes/login.webp" class="rounded mx-auto d-block" width="100 px">
            <form >
              <p for="inputEmail">Usuario</p>
              <input type="text" id="inputEmail" [(ngModel)]="usuario" [ngModelOptions]="{standalone: true}" placeholder="admin" class="form-control" >

                <p for="inputPassword">Contraseña</p>
                <input type="password" id="inputPassword" [(ngModel)]="clave" [ngModelOptions]="{standalone: true}"  class="form-control" placeholder="admin" required>
            

              <div class="custom-control custom-checkbox mb-3">
                <input type="checkbox" class="custom-control-input" id="customCheck1">
                <label class="custom-control-label" for="customCheck1">Remember password</label>
              </div>
              
              <button *ngIf="logeando" class="btn btn-lg btn-primary btn-block text-uppercase" (click)="MoverBarraDeProgreso()" type="submit">Entrar</button>
              <div *ngIf="errorLoguin" class="alert alert-danger text-center" role="alert">
                La clave o el usuario ingresado son incorrectos
               </div>
              <hr class="my-4">
              <button type="button" class="btn btn-lg btn-primary btn-block text-uppercase" routerLink="/Principal">Cancelar</button>
              <button type="button" class="btn btn-lg btn-danger btn-block text-uppercase" routerLink="/Registro" >Registrarse</button>
              <span style="display: flex;justify-content: center;">Te olvidaste <a href="#">la clave?</a></span>
            </form>
          </div>
          <div *ngIf="!logeando" class="progress">
            <div class="progress-bar progress-bar-info progress-bar-striped active" [class]="clase" role="progressbar" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100" [style.width]="ProgresoDeAncho" >
              {{progresoMensaje}} - {{progreso}}%
            </div>
          </div>
        </div>
      </div>
     
    </div>
  </div>
</body>
