<div class="container">
  <table class="table table-striped " style="background-color: white;">    <thead>
      <tr>
        <th>#</th>
        <th>Juego</th>
        <th>Jugador</th>
        <th>Resultado</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let juego of listado; let i = index">
        <td>{{i}} </td>
        <td>{{juego.nombre}} </td>
        <td>{{juego.jugador}} </td> 
        <td *ngIf="juego.gano"> <button class="btn btn-success" disabled><i class="fa fa-check"></i> </button> </td>   
        <td *ngIf="!juego.gano"><button class="btn btn-danger" disabled><i class="fa fa-times"></i> </button></td>     
      </tr>
     
    </tbody>
  </table>
</div>