

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" >
    <button class="btn btn-default dropdown-toggle" type="button" id="menu1" data-toggle="dropdown">
      <img src="../../../assets/imagenes/quiensoy.jpg" width="30" height="30" class="d-inline-block align-top" alt="">     <span class="caret"></span>
    </button>
    
    <ul class="dropdown-menu" role="menu" aria-labelledby="menu1">
      <a class="dropdown-item" href="https://github.com/AlejandroLaborde">en GitHub <i class="fa fa-github"></i></a>
      <a class="dropdown-item" routerLink="/QuienSoy">Quien Soy? <i class="fa fa-user"></i></a>
    </ul>
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
    </ul>
    <form class="form-inline">
      <button *ngIf="!jugadoresService.logueado()" class="btn btn-outline-success separacion"  routerLink="/Login" type="button">Ingresar</button>
      <button *ngIf="!jugadoresService.logueado()" class="btn btn-outline-danger separacion" routerLink="/Registro" type="button">Registrarse</button>
      <button *ngIf="jugadoresService.logueado()" class="btn btn-outline-danger separacion" routerLink="/Login" (click)="logOut()" type="button">Salir</button>
    </form>
  </div>
</nav>



<div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="../../../assets/imagenes/salaDeJuegos.png" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="../../../assets/imagenes/saladeJuegos2.png" class="d-block w-100" alt="...">
    </div>
  </div>
  <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>

